<% resource = Backstage::Rails::Config.resources[controller_name.to_sym] %>

<div class="bg-white shadow rounded-lg p-6">

  <h1 class="text-2xl font-semibold mb-6"><%= resource.name.to_s.titleize %></h1>

  <%= render 'admin/shared/filter_form', resource: resource %>
  <%= render 'admin/shared/scopes_menu', resource: resource %>


  <div class="flex space-x-2">
    <div class="border rounded flex-grow">
      <div class="overflow-x-auto">
        <%= render 'admin/shared/table', resource: resource, resources: @resources %>
      </div>
      <div class="mt-6">
        <%= paginate @resources %>
      </div>
    </div>
    <div class="flex space-x-2 border-rounded w-1/4">
      <% #= render 'admin/shared/filters', resource: resource %>
    </div>
  </div>

  <%= link_to "New #{resource.name.to_s.singularize.titleize}", new_polymorphic_path([:admin, resource.name.to_s.singularize.classify.constantize]), class: "mt-4 inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
</div>