            <div id="basic-info" class="tab-pane block">
              <div class="pt-8 space-y-8 divide-y divide-gray-200 dark:divide-gray-800 sm:space-y-5">
                <div>
                  <div>
                    <h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-gray-100"> Editar Pista </h3>
                    <p class="mt-1 max-w-2xl text-sm text-gray-500"> Esta información se mostrará públicamente, así que tenga cuidado con lo que comparta. </p>
                  </div>
                  <div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">
                    <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                      <%= form.label :title %>
                      <div class="mt-1 sm:mt-0 sm:col-span-2">
                        <div class="max-w-lg flex rounded-md shadow-sm">
                          <%= form.text_field :title, label: false %>
                        </div>
                      </div>

                    </div>

                    <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                      <%= form.label :tags %>
                      <div class="mt-1 sm:mt-0 sm:col-span-2">
                        <div class="max-w-lg flex- rounded-md shadow-sm">
                          <div phx-update="ignore" id="ignore-tags-">
                            <div data-controller="select" id="oe">
                                <%= form.select :tags, 
                                  Category::Genres.plain , 
                                  {} ,
                                  {:multiple => true, class: "hidden text-gray-800" } %>
                              <div class="select-wrapper">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                      <%= form.label :description %>
                      <div class="mt-1 sm:mt-0 sm:col-span-2">
                        <div class="max-w-lg flex rounded-md shadow-sm">
                          <%= form.text_area :description, label: false %>
                        </div>
                      </div>
                    </div>

                    <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                      <label for="cover-photo" class="block text-sm font-medium text-gray-700 dark:text-gray-300 sm:mt-px sm:pt-2"> Foto de portada </label>
                      <div class="mt-1 sm:mt-0 sm:col-span-2">
                        <div class="max-w-lg flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md" phx-drop-target="phx-F3TnwGtS25Ej5TPB">
                          <div class="space-y-1 text-center justify-center">
                            <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                              <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                            <div class="flex text-sm text-gray-600 py-3 justify-center">
                              <label class="relative cursor-pointer rounded-md font-medium text-brand-600 hover:text-brand-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-brand-500">
                                <span>Subir portada de una pista</span>
                                <div data-controller="upload">
                                  <%= form.file_field :cover, direct_upload: true,
                                    data: { upload_target: "input",
                                            action:        "change->upload#uploadFile" } %>
                                  <div data-upload-target="progress"></div>
                                </div>

                                <input id="phx-F3TnwGtS25Ej5TPB" type="file" name="cover" accept=".jpg,.jpeg,.png" data-phx-hook="Phoenix.LiveFileUpload" data-phx-update="ignore" data-phx-upload-ref="phx-F3TnwGtS25Ej5TPB" data-phx-active-refs="" data-phx-done-refs="" data-phx-preflighted-refs="" class="hidden">
                              </label>
                              <p class="pl-1">o arrastre y suelte</p>
                            </div>
                            <div></div>
                            <p class="text-xs text-gray-500"> PNG, JPG, GIF hasta 10MB </p>
                            <div class="mt-8 sm:w-full sm:max-w-md xl:mt-0 py-4">
                              <label for="prompt" class="relative cursor-pointer rounded-md font-medium text-brand-600 hover:text-brand-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-brand-500"> O generar la imagen con IA </label>
                              <div class="flex items-center justify-center space-x-3 my-4">
                                <div>
                                  <input class="bg-black w-full rounded-md border-white px-2 py-1 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-brand-700" id="edit-track-form-178_prompt" name="track[prompt]" phx-keyup="set-prompt" phx-target="8" placeholder="Bits on fire" type="text">
                                </div>
                                <button type="button" phx-click="generate-prompt" phx-target="8" class="mt-3 flex w-full items-center justify-center rounded-md border border-transparent bg-brand-500 px-1 py-1 text-base font-medium text-white shadow hover:bg-brand-400 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-brand-700 sm:mt-0 sm:ml-3 sm:w-auto sm:flex-shrink-0"> generar imagen </button>
                              </div>
                              <p class="mt-3 text-sm text-brand-200"> Utilizamos DALL-E de Open AI para generar imágenes
                                <!-- space -->
                                <a href="https://openai.com/dall-e-2/" target="blank" class="font-medium text-white underline"> leer más. </a>
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                      <%= form.label :privacy%>
                      <div class="flex-col space-y-3">
                        <div class="flex space-x-2 items-center">
                          <%= form.radio_button :private, false, label: "Public" %> 
                        </div>
                        <div class="flex space-x-2 items-center">
                          <%= form.radio_button :private, true, label: "Private" %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
