            <div id="basic-info" class="tab-pane block">
              <div class="pt-8 space-y-8 divide-y divide-gray-200 dark:divide-gray-800 sm:space-y-5">
                <div>
                  <div>
                    <h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-gray-100"> Editar Pista </h3>
                    <p class="mt-1 max-w-2xl text-sm text-gray-500"> Esta información se mostrará públicamente, así que tenga cuidado con lo que comparta. </p>
                  </div>
                  <div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">
                    <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                      <%= form.label :title %>
                      <div class="mt-1 sm:mt-0 sm:col-span-2">
                        <div class="max-w-lg flex rounded-md shadow-sm">
                          <%= form.text_field :title, label: false %>
                        </div>
                      </div>

                    </div>

                    <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                      <%= form.label :tags %>
                      <div class="mt-1 sm:mt-0 sm:col-span-2">
                        <div class="max-w-lg flex- rounded-md shadow-sm">
                          <div phx-update="ignore" id="ignore-tags-">
                            <div data-controller="select" id="oe">
                                <%= form.select :tags, 
                                  Category::Genres.plain , 
                                  {} ,
                                  {:multiple => true, class: "hidden text-gray-800" } %>
                              <div class="select-wrapper">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                      <%= form.label :description %>
                      <div class="mt-1 sm:mt-0 sm:col-span-2">
                        <div class="max-w-lg flex rounded-md shadow-sm">
                          <%= form.text_area :description, label: false %>
                        </div>
                      </div>
                    </div>

                    <%= render "shared/upload_field", form: form, attribute: :cover %>

                    <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                      <%= form.label :privacy%>
                      <div class="flex-col space-y-3">
                        <div class="flex space-x-2 items-center">
                          <%= form.radio_button :private, false, label: "Public" %> 
                        </div>
                        <div class="flex space-x-2 items-center">
                          <%= form.radio_button :private, true, label: "Private" %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
