<%= link_to track_path(track), 
  "data-turbo-frame": "_top",
  class: "w-64 md:w-48 group space-y-2 p-2 hover:bg-gray-800 rounded-md" do %>
  <div class="w-full aspect-w-1 aspect-h-1 bg-gray-200 dark:bg-gray-900 rounded-lg overflow-hidden xl:aspect-w-7 xl:aspect-h-8">
    <div
      data-controller="play-button" 
      data-track-detector-target="track"
      data-track-id="<%= track.id %>"
      data-audio-id="<%= track.id %>" 
      data-play-button-url-value="<%= player_path(id: track, t: true) %>"
      class="smooth-color group-hover:absolute group-hover:z-10 w-full h-full flex justify-center items-center">
      <button 
        data-action="click->play-button#play"
        data-play-button-target="button" 
        class="smooth-grow flex justify-center items-center w-24 h-24 rounded-full bg-black border-4 border-brand-100 focus:outline-none">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z"></path>
        </svg>
      </button>
    </div>
    <%= image_tag track.cover_url(:medium), class: "w-full h-full object-center object-cover group-hover:opacity-75" %>
  </div>

  <p class="mt-1 text-lg- font-medium leading-none text-gray-900 dark:text-gray-100 truncate">
    <%= track.title %>
  </p>

  <h3 class="mt-4-- text-xs text-gray-700 dark:text-gray-300">
    <%= track.user.username %>
  </h3>


<% end %>