<%= turbo_frame_tag "comment_form" do %>


  <div class="mt-6">
    <div class="flex space-x-5">
      <div class="flex-shrink-0">
        <div class="relative">
          <%= image_tag current_user.avatar_url(:small), class: "h-10 w-10 rounded-full bg-gray-400 flex items-center justify-center ring-8 ring-white" %>

          <span class="absolute -bottom-0.5 -right-1 bg-white rounded-tl px-0.5 py-px">
            <svg class="h-5 w-5 text-gray-400" x-description="Heroicon name: solid/chat-alt" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z" clip-rule="evenodd">
              </path>
            </svg>
          </span>
        </div>
      </div>

      <div class="min-w-0 flex-1">

        <%= form_for [resource, comment], class: "space-y-8 divide-y divide-gray-200 dark:divide-gray-800" do |form| %>

          <div>
            <label for="comment" class="sr-only">Comment</label>
            <%= form.text_area :body, placeholder: "Leave a comment", label: "Comment" %>
          </div>

          <div class="mt-6 flex items-center justify-end space-x-4 py-4">
            <%= form.submit class: "button-large"%>
          </div>

        <% end %>

      </div>
    </div>
  </div>

<% end %>