<div class="mt-6">
  <div class="relative">
    <div class="absolute inset-0 flex items-center">
      <div class="w-full border-t border-gray-300 dark:border-gray-700"></div>
    </div>
    <div class="relative flex justify-center text-sm">
      <span class="px-2 bg-white rounded-lg text-gray-500">
        <%= link_to t("users.register"), new_user_registration_path %>
        <%= t("users.or") %>
      </span>
    </div>
  </div>

  <div class="mt-6 grid grid-cols-5 gap-3">

    <%- if devise_mapping.omniauthable? %>
      <%- (resource_class.omniauth_providers && [:google_oauth2, :discord]).each do |provider| %>


        <div class="col-span-5">
          <%= button_to omniauth_authorize_path(resource_name, provider), data: { turbo: false },
            class: "w-full inline-flex justify-center py-2 px-4 border border-gray-300 dark:border-gray-800 rounded-md shadow-sm bg-default text-sm font-medium border-subtle hover:bg-gray-50 dark:hover:bg-gray-900" do %>
            <span class="sr-only"><%= gettext("Sign in with #{OmniAuth::Utils.camelize(provider)}") %></span>
            <%= raw icon_for(provider) %>
            <span class="ml-2">Sign in with <%= provider.to_s.gsub("_oauth2", "").humanize %></span>
          <% end %>
        </div>

      <% end %>
    <% end %>

  </div>
</div>


<div class="flex flex-col space-y-2 mt-2 text-xs">
  <%- if controller_name != 'sessions' %>
    <%= link_to "Log in", new_session_path(resource_name) %>
  <% end %>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to "Sign up", new_registration_path(resource_name) %>
  <% end %>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <%= link_to "Forgot your password?", new_password_path(resource_name) %>
  <% end %>

  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %>
  <% end %>

  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %>
  <% end %>
</div>
