<%= turbo_frame_tag "player-frame" do %>
  <div id="main-player" 
    phx-hook="PlayerInitiator" 
    class="z-50 fixed bottom-0 w-full h-[6rem]-- py-2 bg-default border-t border-muted">
    
    <div
      id="player-component" 
      data-controller="player" 
      <% if local_assigns[:track] %>
      data-player-id-value="<%= track.id %>" 
      data-player-peaks-value="<%= track.peaks %>"
      data-player-url-value="<%= track.mp3_audio.url %>" 
      <% end %>
      class="flex">

      <%= render "player/controls" %>
      
      <div id="player-main-player" 
        phx-update="ignore" 
        data-player-target="player" 
        class="mx-3 flex-grow items-center">
      </div>

      <% if local_assigns[:track] %>
        <div id="track-info-wrapper">
          <%= render "player/track_info", track: track %>
        </div>
      <% end %>

      <%= render "player/sidebar" %>
   
    </div>


  </div>
<% end %>