<%= turbo_frame_tag "player-frame" do %>
  <div id="main-player"
    data-controller="audio-player"
    phx-hook="PlayerInitiator"
    data-audio-player-id-value="<%= track.id %>"
    class="z-50 fixed bottom-0 w-full h-[6rem]-- py-2 bg-transparent md:bg-default border-t dark:border-none border-muted-">

  <!-- mobile -->
  <div class="flex sm:hidden items-center bg-subtle px-2 rounded-lg p-2 shadow-lg w-full- max-w-md- mx-auto- mx-2">
    <!-- Album Art -->
    <div class="flex-shrink-0">
      <% if @track.cover_url.present? %>
        <%= link_to @track.title, data: {turbo_frame: "_top"} do %>
          <%= image_tag( @track.cover_url, alt: "#{@track.title} Cover Art", class: "w-12 h-12 rounded-md") %>
        <% end %>
      <% end %>  
    </div>

    <!-- Track Information -->
    <div class="ml-3 flex-grow">

      <div class="font-semibold text-sm w-[212px] truncate" 
        data-controller="marquee">
        <span data-marquee-target="marquee" 
          class="inline-block w-full">
          <%= link_to @track.title, track_path(@track), data: {turbo_frame: "_top"} %>
        </span>

        <span class="inline-block ml-0 w-[190px]">
          <%= link_to @track.title, track_path(@track), data: {turbo_frame: "_top"} %>
        </span>
      </div>

      <div class="text-gray-400 text-xs truncate" data-audio-player-target="trackArtist">
        <%= link_to @track.user.username, user_path(@track.user.username), data: {turbo_frame: "_top"} %>
      </div>
    </div>

    <!-- Control Buttons -->
    <div class="flex items-center space-x-2">
      <button class="text-default" 
        data-action="click->audio-player#prevSong">
        <!-- Previous -->
        <svg xmlns="http://www.w3.org/2000/svg" 
          width="24" height="24" 
          viewBox="0 0 24 24" fill="none" 
          stroke="currentColor" 
          stroke-width="2" 
          stroke-linecap="round" 
          stroke-linejoin="round" 
          class="lucide lucide-chevron-left">
          <path d="m15 18-6-6 6-6"/>
        </svg>
      </button>
        
      <button class="text-default" 
        data-action="click->audio-player#playPause" 
        data-audio-player-target="playButton">
        <!-- Play/Pause Button -->
        <svg data-audio-player-target="playIcon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-play">
          <polygon points="6 3 20 12 6 21 6 3"/>
        </svg>
        <svg data-audio-player-target="pauseIcon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-pause hidden">
          <rect x="14" y="4" width="4" height="16" rx="1"/>
          <rect x="6" y="4" width="4" height="16" rx="1"/>
        </svg>
      </button>

      <button class="text-default" data-action="click->audio-player#nextSong">
        <!-- next -->
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" 
          viewBox="0 0 24 24" fill="none" stroke="currentColor" 
          stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
          class="lucide lucide-chevron-right"><path d="m9 18 6-6-6-6"/>
        </svg>
      </button>
    </div>
  </div>


  <div class="hidden sm:block">
    <div
      class="flex items-center justify-between pt-2 px-2">
      <!-- Album Art -->
      <div class="flex items-center space-x-2 w-[168px] md:w-auto">
        <% if @track.cover_url.present? %>
          <%= link_to track_path(@track), data: {turbo_frame: "_top"} do %>
            <%= image_tag( @track.cover_url, alt: "#{@track.title} Cover Art", class: "w-12 h-12 rounded-md") %>
          <% end %>
        <% end %> 
        
        <div class="text-default">
          <div class="font-semibold text-sm w-[129px] truncate" 
            data-controller="marquee">
            <span data-marquee-target="marquee" 
              class="inline-block w-full">
              <%= link_to @track.title, track_path(@track), data: {turbo_frame: "_top"} %>
            </span>
          </div>
          <div class="text-xs text-gray-400 truncate w-48">
            <%= link_to @track.user.username, user_path(@track.user.username), data: {turbo_frame: "_top"} %>
          </div>
        </div>

      </div>

      <!-- Controls -->
      <div class="flex items-center space-x-4">
        <button class="text-default">
          <!-- shuffle -->
          <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" 
          viewBox="0 0 24 24" fill="none" stroke="currentColor" 
          stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
          class="lucide lucide-shuffle">
          <path d="M2 18h1.4c1.3 0 2.5-.6 3.3-1.7l6.1-8.6c.7-1.1 2-1.7 3.3-1.7H22"/>
          <path d="m18 2 4 4-4 4"/><path d="M2 6h1.9c1.5 0 2.9.9 3.6 2.2"/>
          <path d="M22 18h-5.9c-1.3 0-2.6-.7-3.3-1.8l-.5-.8"/>
          <path d="m18 14 4 4-4 4"/></svg>
          -->
        </button>

        <button class="text-default hidden sm:block" data-action="click->audio-player#prevSong">
          <!-- Previous -->
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-left"><path d="m15 18-6-6 6-6"/></svg>
        </button>

        <button class="text-default bg-muted rounded-full p-2" 
          data-action="click->audio-player#playPause" 
          data-audio-player-target="playButton">
          <!-- play -->
          <svg data-audio-player-target="playIcon" 
            xmlns="http://www.w3.org/2000/svg" width="24" height="24" 
            viewBox="0 0 24 24" fill="none" stroke="currentColor" 
            stroke-width="2" stroke-linecap="round" 
            stroke-linejoin="round" 
            class="<%= !params[:id].present? ? "hidden" : "" %> lucide lucide-play">
            <polygon points="6 3 20 12 6 21 6 3"/>
          </svg>
          <svg data-audio-player-target="pauseIcon"
            xmlns="http://www.w3.org/2000/svg" 
            width="24" height="24" viewBox="0 0 24 24" 
            fill="none" stroke="currentColor" stroke-width="2" 
            stroke-linecap="round" stroke-linejoin="round"
            class="<%= params[:id].present? ? "hidden" : "" %> lucide lucide-pause">
            <rect x="14" y="4" width="4" height="16" rx="1"/>
            <rect x="6" y="4" width="4" height="16" rx="1"/>
          </svg>
        </button>

        <button class="text-default hidden sm:block" data-action="click->audio-player#nextSong">
          <!-- next -->
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" 
            viewBox="0 0 24 24" fill="none" stroke="currentColor" 
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
            class="lucide lucide-chevron-right"><path d="m9 18 6-6-6-6"/>
          </svg>
        </button>

        <button class="text-default">
          <!-- loop -->
          <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" 
          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" 
          stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-repeat-2">
          <path d="m2 9 3-3 3 3"/>
          <path d="M13 18H7a2 2 0 0 1-2-2V6"/>
          <path d="m22 15-3 3-3-3"/><path d="M11 6h6a2 2 0 0 1 2 2v10"/>
          </svg>
          -->
        </button>
      </div>

      <!-- Volume and Settings -->
      <div class="items-center space-x-4 hidden sm:flex">
        <!-- Volume Icon -->
        <div class="text-default cursor-pointer" data-action="click->audio-player#toggleMute" data-audio-player-target="volumeIcon">
          <!-- Volume On Icon -->
          <svg data-audio-player-target="volumeOnIcon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-volume-2"><path d="M11 4.702a.705.705 0 0 0-1.203-.498L6.413 7.587A1.4 1.4 0 0 1 5.416 8H3a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h2.416a1.4 1.4 0 0 1 .997.413l3.383 3.384A.705.705 0 0 0 11 19.298z"/><path d="M16 9a5 5 0 0 1 0 6"/><path d="M19.364 18.364a9 9 0 0 0 0-12.728"/></svg>
          <!-- Volume Off Icon Placeholder -->
          <svg data-audio-player-target="volumeOffIcon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-volume-off hidden">
            <path d="M16 9a5 5 0 0 1 .95 2.293"/>
            <path d="M19.364 5.636a9 9 0 0 1 1.889 9.96"/>
            <path d="m2 2 20 20"/>
            <path d="m7 7-.587.587A1.4 1.4 0 0 1 5.416 8H3a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h2.416a1.4 1.4 0 0 1 .997.413l3.383 3.384A.705.705 0 0 0 11 19.298V11"/>
            <path d="M9.828 4.172A.686.686 0 0 1 11 4.657v.686"/>
          </svg>
        </div>

        <!-- Volume Slider -->
        <input type="range" class="w-24 h-1 bg-gray-700 rounded-full" min="0" max="1" step="0.1" data-action="input->audio-player#setVolume" data-audio-player-target="volumeSlider">

        
        <%= render "player/sidebar" %>
        <!-- Settings Button -->
        <button class="text-default pr-4" data-action="click->audio-player#toggleSidebar">
          <!-- Settings Icon -->
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-list-music"><path d="M21 15V6"/><path d="M18.5 18a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/><path d="M12 12H3"/><path d="M16 6H3"/><path d="M12 18H3"/></svg>
        </button>
      </div>
    </div>

    <!-- Track Progress Bar -->
    <div class="flex items-center space-x-2 mb-2 justify-center">
      <span class="text-default text-xs" data-audio-player-target="currentTime">0:00</span>
      <div class="w-2/4 relative h-1 bg-gray-700 rounded-full cursor-pointer" data-action="click->audio-player#seek">
        <div class="absolute top-0 left-0 h-1 bg-green-500 rounded-full" 
          style="width: 0%" data-audio-player-target="progress">
        </div>
      </div>
      <span class="text-default text-xs" 
        data-audio-player-target="duration">
        4:09
      </span>
    </div>

    <!-- Audio Element -->
    <audio data-audio-player-target="audio"
      <%= params[:t] ? "data-ap=true" : "" %>
      src="<%= track.mp3_audio.url %>" 
      data-track-id="<%= track.slug %>" 
      id="audioElement">
    </audio>
  <div>

</div>
<% end %>
