<!-- SIDEBAR PLAYLIST -->
<div
  data-player-target="sidebar"
  style="height: calc(100% - 64px);"
  class="hidden pointer-events-none fixed inset-y-0 right-0 flex max-w-full bg-white dark:bg-black"
>
  <div class="pointer-events-auto w-screen max-w-md">
    <div class="flex h-full flex-col overflow-y-scroll py-6 shadow-xl dark:border-l-2 dark:border-gray-800">
      <div class="px-4 sm:px-6">
        <div class="flex items-start justify-between">
          <h2
            class="text-lg font-medium text-gray-900 dark:text-gray-100"
            id="slide-over-title"
          >
            <%= gettext("Next up") %>
          </h2>
          <button
            type="button"
            phx-click="clear-all"
            class="rounded-md text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
          >
            <%= gettext("clear all") %>
          </button>

          <div class="ml-3 flex h-7 items-center">
            <button
              type="button"
              data-action="click->player#closeSidebar"
              class="rounded-md bg-white dark:bg-black text-gray-400 hover:text-gray-500 dark:text-gray-600 dark:hover:text-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
            >
              <span class="sr-only"><%= gettext("Close panel") %></span>
              <!-- Heroicon name: outline/x -->
              <svg
                class="h-6 w-6"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="relative mt-6 flex-1 px-4 sm:px-6">
        <!-- Replace with your content -->
        <div class="absolute inset-0 px-4 sm:px-6">
          <div class="h-full" aria-hidden="true">
            <div class="flow-root mt-6">
              <ul
                role="list"
                class="-my-5 divide-y divide-gray-200 dark:divide-gray-800 h-full"
              >
                <% Track.published.each do |item| %>
                  <% # = for item <- @tracks  do %>
                  <li id="sidebar-track-<%= item.id %>" 
                    data-url="<%= player_path(id: item, t: true) %>"
                    class="py-4 px-2 w-full <%= false ? "bg-gray-100 dark:bg-gray-900" : "" %>">
                    <div class="flex items-center space-x-4 justify-between">
                      <%= link_to player_path(id: item, t: true), class: "flex items-center space-x-4" do %>
                        <div class="flex-shrink-0">
                          <%= image_tag item.cover_url(:small), class: "h-8 w-8 rounded-full" %>
                        </div>
                        <div class="flex-1 min-w-0">
                          <p class="text-sm font-medium text-gray-900 dark:text-gray-100 truncate">
                            <%= item.title %>
                          </p>
                          <p class="text-sm text-gray-500 truncate">
                            <%= item.user.username %>
                          </p>
                        </div>
                      <% end %>

                        <div class="">
                          <button
                            data-action="click->player#removeSong"
                            data-value="<%= item.id %>"
                            class="inline-flex items-center shadow-sm border border-gray-300 dark:border-gray-700 rounded-full text-gray-700 bg-white hover:bg-gray-50 dark:text-gray-300 dark:bg-black dark:hover:bg-gray-900"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              fill="none"
                              viewBox="0 0 24 24"
                              class="w-4 h-4"
                              strokeWidth={1.5}
                              stroke="currentColor"
                              className="w-6 h-6"
                            >
                              <path
                                strokeLinecap="round"
                                strokeLinejoin="round"
                                d="M6 18L18 6M6 6l12 12"
                              />
                            </svg>
                          </button>
                        </div>
                      
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <!-- /End replace -->
      </div>
    </div>
  </div>
</div>
