<div>
  <div class="sm:hidden">
    <label for="tabs" class="sr-only">Select a tab</label>
    <!-- Use an "onChange" listener to redirect the user to the selected tab URL. -->
    <select
      id="tabs"
      name="tabs"
      class="block w-full focus:ring-brand-500 focus:border-brand-500 border-muted rounded-md"
    >
      <option>Likes</option>
      <option>Followers</option>
      <option selected>Followings</option>
      <option>Comments</option>
    </select>
  </div>

  <div class="md:flex md:items-center md:justify-between md:space-x-5 py-4 px-4 bg-black text-white">
    <div class="flex items-start space-x-5">
      <div class="flex-shrink-0">
        <div class="relative">
          <%= image_tag @user.avatar_url(:small), class: "h-16 w-16 rounded-full" %>
          <span class="absolute inset-0 shadow-inner rounded-full" aria-hidden="true"></span>
        </div>
      </div>
      <!--
        Use vertical padding to simulate center alignment when both lines of text are one line,
        but preserve the same layout if the text wraps without making the image jump around.
      -->
      <div class="pt-1.5">
        <h1 class="text-2xl font-bold"><%= @user.username %></h1>
      </div>
    </div>
    <div class="mt-6 flex flex-col-reverse justify-stretch space-y-4 space-y-reverse sm:flex-row-reverse sm:justify-end sm:space-x-reverse sm:space-y-0 sm:space-x-3 md:mt-0 md:flex-row md:space-x-3">
      <%= link_to t("profile.go_to"), user_path(@user.username) %>
    </div>
  </div>

  <div class="hidden sm:block">
    <div class="border-b border-emphasis">
      <nav class="-mb-px flex" aria-label="Tabs">
        <!-- Current: "border-brand-500 text-brand-600", Default: "border-transparent text-gray-500 hover:text-muted hover:border-muted" -->
        <%= link_to t("profile.likes"), "#", class: "border-transparent dark:text-emphasis text-muted hover:text-muted hover:border-muted w-1/4 py-4 px-1 text-center border-b-2 font-medium text-sm" %>
        <%= link_to t("profile.followings"), user_followers_path(@user.username), class: "border-transparent dark:text-emphasis text-muted hover:text-muted hover:border-muted w-1/4 py-4 px-1 text-center border-b-2 font-medium text-sm" %>
        <%= link_to t("profile.followers"), user_followees_path(@user.username), class: "border-transparent dark:text-emphasis text-muted hover:text-muted hover:border-muted w-1/4 py-4 px-1 text-center border-b-2 font-medium text-sm" %>
        <%= link_to t("profile.comments"), "#", class: "border-transparent dark:text-emphasis text-muted hover:text-muted hover:border-muted w-1/4 py-4 px-1 text-center border-b-2 font-medium text-sm" %>

      </nav>
    </div>
  </div>

  <div>
    <div class="py-4 mx-4">
      <h2 class="text-3xl font-bold"><%= @kind %></h2>
      <ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
        <% @collection.each do |user| %>
          <li class="col-span-1 flex flex-col text-center">
            <%= link_to user_path(user.username) do %>
              <div class="flex-1 flex flex-col p-8">
                <%= image_tag(user.avatar_url(:medium),
                  class: "w-32 h-32 flex-shrink-0 mx-auto rounded-full"
                ) %>
                <h3 class="mt-6 text-gray-900 dark:text-gray-100 text-sm font-medium">
                  <%= user.username %>
                </h3>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
