<%
  first, *rest = articles
%>

<div class="bg-default py-24 sm:py-32">
  <div class="mx-auto grid max-w-7xl grid-cols-1 gap-x-8 gap-y-12 px-6 sm:gap-y-16 lg:grid-cols-2 lg:px-8">
    
    <article class="mx-auto w-full max-w-2xl lg:mx-0 lg:max-w-lg">
      <%= link_to user_path(first.user.username) do %>
        <time datetime="<%= l first.created_at, format: :short %>" class="block text-sm leading-6 text-muted">
          <%= l first.created_at, format: :short %>
        </time>
        <h2 id="featured-post" class="mt-4 text-3xl font-bold tracking-tight text-default sm:text-4xl">
          <%= first.title %>
        </h2>
        <p class="mt-4 text-lg leading-8 text-emphasis">
          <%= first.excerpt %>
        </p>
        
        <div class="mt-4 flex flex-col justify-between gap-6 sm:mt-8 sm:flex-row-reverse sm:gap-8 lg:mt-4 lg:flex-col">
          <div class="flex">
            <%= link_to user_articles_path(first.user.username), class: "text-sm font-semibold leading-6 text-brand-600", "aria-describedby": "featured-post" do %>
              Continue reading <span aria-hidden="true">&rarr;</span>
            <% end %>
          </div>
          <div class="flex lg:border-t lg:border-default/10 lg:pt-8">
            <%= link_to user_path(first.user.username), class: "flex gap-x-2.5 text-sm font-semibold leading-6 text-default" do %>
              <%= image_tag first.user.avatar_url(:small), class: "h-6 w-6 flex-none rounded-full bg-gray-50" %>
              <%= first.user.first_name %> <%= first.user.last_name %>
            <% end %>
          </div>
        </div>
      <% end %>
    </article>

    <div class="mx-auto w-full max-w-2xl border-t border-default/10 pt-12 sm:pt-16 lg:mx-0 lg:max-w-none lg:border-t-0 lg:pt-0">
      <div class="-my-12 divide-y divide-default/10">
        <% rest.each do |article|%>
          <article class="py-12">
            <div class="group relative max-w-xl">
              <time datetime="<%= l article.created_at %>" class="block text-sm leading-6 text-muted">
                <%= l article.created_at, format: :long_with_day %>
              </time>
              <h2 class="mt-2 text-lg font-semibold text-default group-hover:text-muted">
                <%= link_to article_path(article) do %>
                  <span class="absolute inset-0"></span>
                  <%= article.title %>
                <% end %>
              </h2>
              <p class="mt-4 text-sm leading-6 text-muted">
                <%= article.excerpt %>
              </p>
            </div>
            <div class="mt-4 flex">
              <%= link_to article_path(article), class: "relative flex gap-x-2.5 text-sm font-semibold leading-6 text-default" do %>
                <%= image_tag article.user.avatar_url(:small), class: "h-6 w-6 flex-none rounded-full bg-gray-50" %>
                <%= article.user.first_name %> <%= article.user.last_name %>
              <% end %>
            </div>
          </article>
        <% end %>
      </div>
    </div>
   
  </div>
</div>
