    <div class="">
     
      <div class="flex justify-between items-center">
        <% purchase.purchased_items.each do |item|%>

          <div class="flex space-x-2">
            <%= image_tag(item.purchased_item.cover_url(:small),
              class: "w-20 h-20 object-center object-cover group-hover:opacity-75"
            ) %>

            <div>
              <%= link_to item.purchased_item do %>
                <h3 class="text-2xl"><%= item.purchased_item.title %></h3>
                <span><%= gettext("Created at:") %> <%= l purchase.created_at, format: :short %></span>
              <% end %>
            </div>
          </div>
        <% end %>


        <% case purchase.state %>
        <% when "paid" %>
          <span class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">Paid</span>
        <% when "pending" %>
          <span class="inline-flex items-center rounded-md bg-muted px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10">Pending</span>
        <% end %>

        <% if purchase.is_downloadable?  %>
          <%= turbo_frame_tag "purchase_#{purchase.id}_download" do %>
            <%= button_to "Prepare Download", download_purchase_path(purchase), method: :get, class: "truncate text-sm font-medium text-brand-600" %>
          <% end %>
        <% end %>
      </div>
    </div>