 <div class="">
  <div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
    
    <% # link_to "existing artist", new_account_connection_path %>

    <div class="md:flex md:items-center md:justify-between">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-gray-200">
        Artists
      </h2>


      <% if current_user.id == @label&.id %>
        <%= link_to new_account_connection_path, class: "button-sm-outline space-x-2",  data: {turbo_frame: "modal"}  do %>
          <%= heroicon("plus") %>
          <span>New account Connection</span>
        <% end %>
      <% end %>
    </div>

    <div class="mt-6 grid grid-cols-2 gap-x-4 gap-y-10 sm:gap-x-6 md:grid-cols-4 md:gap-y-0 lg:gap-x-8">
      <% @label.child_accounts.each do |artist| %>
        <div class="group relative">
          <div class="h-56 lg:h-72-- xl:h-80-- w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75">
            <%= image_tag(artist.avatar_url, class: "h-full w-full object-cover object-center") %>
          </div>

          <h3 class="mt-4 text-sm text-gray-700 dark:text-gray-300">
            <%= link_to user_path(artist.username) do %>
              <span class="absolute inset-0"></span> <%= artist.username %>
            <% end %>
          </h3>
        </div>
      <% end %>
    </div>

    <div class="mt-8 text-sm md:hidden">
      <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">
        Shop the collection <span aria-hidden="true"> →</span>
      </a>
    </div>
  </div>
</div>