<div id="xx-5">
  <div class="text-xl font-bold space-x-2">
    <% if resource.is_a?(Track) %>
      <%= link_to new_track_track_purchase_path(resource), 
        "data-turbo-frame": "modal", 
        class: "hover:underline dark:border-white border-black rounded-lg border-2 p-2 bg-green-500 hover:bg-green-500/90" do %> 
        <%= t("tracks.buy_digital_music")%>
      <% end %>
    <% end %>
    <% if resource.is_a?(Playlist) %>
      <%= link_to new_playlist_playlist_purchase_path(resource), 
        "data-turbo-frame": "modal", 
        class: "hover:underline dark:border-white border-black rounded-lg border-2 p-2 bg-green-500 hover:bg-green-500/90" do %> 
        <%= t("tracks.buy_digital_music")%>
      <% end %>
    <% end %>
    <span> <%= number_to_currency(resource.price) %> <span class="text-gray-700 dark:text-gray-300"> USD </span>
    </span>

    <% if resource.name_your_price.present? %>
      <span class="text-gray-700 dark:text-gray-300"> (<%= t("tracks.or_more") %>) </span>
    <% end %>
    
  </div>
</div>

<% if @supporters.any? %>
  <div class="sm:text-xl text-sm container mx-auto my-4 flex flex-col space-y-4">
    <h3 class="font-bold font-medium"><%= t("tracks.supporters") %></h3>
    <div class="-space-x-4">
      <% @supporters.each do |supporter| %>
        <%= link_to user_path(supporter.username) do %>
          <%= image_tag supporter.cover_url(:small), class: "relative z-30 inline object-cover w-10 h-10 border-2 border-white rounded-full" %>
          <h3 class="hidden mt-6 text-gray-900 dark:text-gray-100 text-sm font-medium"> 
            <%= supporter.username %> 
          </h3>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>