<div class="flex flex-col border border-emphasis rounded-md bg-muted" 
  data-controller="simple-editor">
  <div class="px-2 py-2 flex items-center justify-between">
    <div class="flex space-x-2 items-center">

      <button class="btn btn-xs text-xs font-bold border border-subtle outlined bg-default rounded-lg p-2" type="button" data-editor-toolbar data-level="1" data-action="simple-editor#toggleHeading">
        <span class="text-xl">H1</span>
      </button>
    
      <button class="btn btn-xs text-xs font-bold border border-subtle outlined bg-default rounded-lg p-2" type="button" data-level="2" data-action="simple-editor#toggleHeading">
        <span class="text-xl">H2</span>
      </button>

      <!-- list -->
      <button class="btn btn-xs text-xs font-bold border border-subtle outlined bg-default rounded-lg p-2" type="button" data-action="simple-editor#toggleBulletList">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <line x1="9" y1="6" x2="20" y2="6"></line>
          <line x1="9" y1="12" x2="20" y2="12"></line>
          <line x1="9" y1="18" x2="20" y2="18"></line>
          <circle cx="4" cy="6" r="2"></circle>
          <circle cx="4" cy="12" r="2"></circle>
          <circle cx="4" cy="18" r="2"></circle>
        </svg>
      </button>

      <!-- ordered -->
      <button class="btn btn-xs text-xs font-bold border border-subtle outlined bg-default rounded-lg p-2" type="button" data-action="simple-editor#toggleOrderedList">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <line x1="10" y1="6" x2="21" y2="6"></line>
          <line x1="10" y1="12" x2="21" y2="12"></line>
          <line x1="10" y1="18" x2="21" y2="18"></line>
          <path d="M4 6h1v4"></path>
          <path d="M4 10h2"></path>
          <path d="M6 18H4c0-1 2-2 2-3s-1-1.5-2-1"></path>
        </svg>
      </button>

      <!-- B -->
      <button class="btn btn-xs text-xs font-bold border border-subtle outlined bg-default rounded-lg p-2" type="button" data-action="simple-editor#toggleBold">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M6 4h8a4 4 0 0 1 4 4 4 4 0 0 1-4 4H6z"></path>
          <path d="M6 12h9a4 4 0 0 1 4 4 4 4 0 0 1-4 4H6z"></path>
        </svg>
      </button>

      <!-- italic -->
      <button class="btn btn-xs text-xs font-bold border border-subtle outlined bg-default rounded-lg p-2" type="button" data-action="simple-editor#toggleItalic">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <line x1="19" y1="4" x2="10" y2="4"></line>
          <line x1="14" y1="20" x2="5" y2="20"></line>
          <line x1="15" y1="4" x2="9" y2="20"></line>
        </svg>
      </button>

      <!-- link -->
      <button class="btn btn-xs text-xs font-bold border border-subtle outlined bg-default rounded-lg p-2" type="button" data-action="simple-editor#openLinkPrompt">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path>
          <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path>
        </svg>
      </button>
     
      <div data-simple-editor-target="linkWrapper" class="hidden flex items-center">
        <input data-simple-editor-target="linkField" data-action="keydown.enter->simple-editor#setLink" type="text">
        <button class="btn btn-xs text-xs font-bold outlined bg-default rounded-lg p-2" type="button" data-action="click->simple-editor#setLink">link</button>
      </div>
    
    </div>

    <% if local_assigns[:variables].present? %>
      <%= render Dropdown::Component.new( label: "Add Variables",
                          variant: @variant,
                          size: "md",
                          orientation: "right",
                          origin: @origin,
                          #button: @button,
                          #btn_classes: @btn_classes
                        ) do %>
        <div class="pt-4 pb-1 w-128 ">
          <div class="mb-2 px-4 text-left text-xs text-gray-500">
            ADD DYNAMIC TEXT VARIABLES
          </div>
          <% local_assigns[:variables].each do |k, v| %>
            <div role="menuitem" class="focus:ring-brand-800 text-sm text-gray-700 ring-inset first-of-type:rounded-t-[inherit] last-of-type:rounded-b-[inherit] hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:ring-1 hover:ring-0" tabindex="-1" data-orientation="vertical" data-radix-collection-item="">
              <button type="button" 
                data-value=" {<%= k %>} "
                data-action="click->simple-editor#insert" 
                class="w-full px-4 py-2">
                <div class="sm:grid sm:grid-cols-2">
                  <div class="mr-3 text-left md:col-span-1">{<%= k %>}</div>
                  <div class="hidden text-left text-gray-600 sm:col-span-1 sm:flex"><%= v %></div>
                </div>
              </button>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div data-simple-editor-target="editor" 
    class="px-4 border-t border-emphasis text-emphasis rounded-sm bg-mute prose prose-sm <%= local_assigns[:height] || "h-96" %> overflow-auto" 
    style="max-width: none;">
  </div>

  <%= form.hidden_field field, 
    "data-simple-editor-target": "textInput"
  %>

</div>