<div class="flex flex-col border border-emphasis rounded-md bg-muted" 
  data-controller="simple-editor">
  <div class="px-2 py-2 flex items-center justify-between">
    <div class="flex space-x-2 items-center">

      <button class="btn btn-xs outlined" data-level="1" data-action="click->simple-editor#toggleHeading">H1</button>
      <button class="btn btn-xs outlined" data-level="2" data-action="click->simple-editor#toggleHeading">H2</button>

      <button class="btn btn-xs outlined" data-action="click->simple-editor#toggleBulletList">Bullet</button>
      <button class="btn btn-xs outlined" data-action="click->simple-editor#toggleOrderedList">Ordered</button>

      <button class="btn btn-xs outlined" data-action="click->simple-editor#toggleBold">B</button>
      <button class="btn btn-xs outlined" data-action="click->simple-editor#toggleItalic">I</button>
      <button class="btn btn-xs outlined" data-action="click->simple-editor#openLinkPrompt">link</button>

      <div data-simple-editor-target="linkWrapper" class="hidden flex items-center">
        <input data-simple-editor-target="linkField" data-action="keydown.enter->simple-editor#setLink" type="text">
        <button class="btn btn-xs outlined" data-action="click->simple-editor#setLink">link</button>
      </div>
    
    </div>

    <% if local_assigns[:variables].present? %>
      <%= render Dropdown::Component.new( label: "Add Variables",
                          variant: @variant,
                          size: "md",
                          orientation: "right",
                          origin: @origin,
                          #button: @button,
                          #btn_classes: @btn_classes
                        ) do %>
        <div class="pt-4 pb-1 w-128 ">
          <div class="mb-2 px-4 text-left text-xs text-gray-500">
            ADD DYNAMIC TEXT VARIABLES
          </div>
          <% local_assigns[:variables].each do |k, v| %>
            <div role="menuitem" class="focus:ring-brand-800 text-sm text-gray-700 ring-inset first-of-type:rounded-t-[inherit] last-of-type:rounded-b-[inherit] hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:ring-1 hover:ring-0" tabindex="-1" data-orientation="vertical" data-radix-collection-item="">
              <button type="button" 
                data-value=" {<%= k %>} "
                data-action="click->simple-editor#insert" 
                class="w-full px-4 py-2">
                <div class="sm:grid sm:grid-cols-2">
                  <div class="mr-3 text-left md:col-span-1">{<%= k %>}</div>
                  <div class="hidden text-left text-gray-600 sm:col-span-1 sm:flex"><%= v %></div>
                </div>
              </button>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div data-simple-editor-target="editor" 
    class="px-4 border-t border-emphasis text-emphasis rounded-sm bg-mute prose prose-sm h-96 overflow-auto" 
    style="max-width: none;">
  </div>

  <%= form.hidden_field field, 
    "data-simple-editor-target": "textInput"
  %>

</div>