 
<%
  streaming_services =  [
    {name: "twitch", active: true, description: gettext("Twitch is a streaming service")},
    {name: "mux", active: true, description: gettext("Mux is a streaming service")},
    {name: "whereby", active: true, description: gettext("Whereby is a streaming service")},
    {
      name: "stream_yard",
      active: true,
      description: gettext("Live Streaming to 15 services at once, including youtube, twitch, zoom etc...")
    },
    {name: "zoom", active: true, description: gettext("Zoom is a streaming service")},
    {
      name: "jitsi",
      active: false,
      description: gettext("Live Streaming on jitsi open source platform")
    },
    {
      name: "restream",
      active: true,
      description: gettext("Live Streaming to 15 services at once, including youtube, twitch, zoom etc...")
    }
  ]
%>
 
<div class="m-4">
  <% if @service %>

  <% end %>

  <div class="my-4 mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-4xl text-center">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl">
        <%= gettext("Streaming services") %>
      </h2>

      <p class="my-3 text-xl text-gray-500 dark:text-gray-300 dark:text-gray-300 dark:text-gray-300 sm:mt-4">
        <%= gettext(
          "Go live with a remote event via one of the following video streaming services"
        ) %>
      </p>

      <%= link_to event_livestream_path(@event, 123), 
        "data-turbo-frame": "_top",
        class: "inline-flex items-center rounded border border-transparent bg-indigo-600 px-2.5 py-1.5 text-xs font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" do %>
        <%= gettext("Go to streaming event page") %>
      <% end %>
    </div>
  </div>

  <div class="divide-y divide-gray-200 dark:divide-gray-800 border dark:border:gray-800 overflow-hidden rounded-lg bg-gray-200 dark:bg-gray-900 shadow sm:grid sm:grid-cols-2 sm:gap-px sm:divide-y-0">
    <% streaming_services.each do |service| %>
      <div class="relative group bg-default p-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
        <div>
          <% if service[:name] == @event.streaming_service["name"] %>
            <span class="rounded-lg inline-flex p-3 bg-green-100 text-green-700 ring-4 ring-white">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
              </svg>
            </span>
          <% end %>
        </div>
        <div class="mt-8">
          <h3 class="text-lg font-medium">
            <% if service[:active] %>
              <%= link_to new_event_event_streaming_service_path(@event, service: service[:name]), 
              class: "focus:outline-none", "data-turbo-frame": "modal" do %>
                <span class="absolute inset-0" aria-hidden="true"></span>
                <%= service[:name] %>
              <% end %>
            <% else %>
              <div class="flex space-x-2">
                <span>
                  <%= service[:name] %>
                </span>
                <span class="inline-flex items-center rounded-full bg-gray-100 px-2.5 py-0.5 text-xs font-medium text-gray-800">
                  SOON
                </span>
              </div>
            <% end %>
          </h3>
          <p class="mt-2 text-sm text-gray-500">
            <%= service[:description] %>
          </p>
        </div>
        <span
          class="pointer-events-none absolute top-6 right-6 text-gray-300 group-hover:text-gray-400"
          aria-hidden="true"
        >
          <svg
            class="h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path d="M20 4h1a1 1 0 00-1-1v1zm-1 12a1 1 0 102 0h-2zM8 3a1 1 0 000 2V3zM3.293 19.293a1 1 0 101.414 1.414l-1.414-1.414zM19 4v12h2V4h-2zm1-1H8v2h12V3zm-.707.293l-16 16 1.414 1.414 16-16-1.414-1.414z" />
          </svg>
        </span>
      </div>
    <% end %>
  </div>
</div>