<%= @filter_form.as_json %>

<div data-controller="filter-manager" 
  data-resource-name="<%= resource.name %>"
  data-filter-manager-resource-name-value="<%= resource.name %>">
  <%= form_with(model: @filter_form, url: url_for(action: 'index'), method: :get, data: { filter_manager_target: 'filterForm', turbo_frame: 'results' }) do |f| %>
    <div data-filter-manager-target="filterList" id="filterList">

      <%= f.fields_for :filter_items do |filter_form| %>
        <%= render 'backstage/rails/shared/filter_item', f: filter_form, resource: resource, index: filter_form.index %>
      <% end %>

    </div>

    <div class="mb-2">
      <button type="button" data-action="click->filter-manager#addFilter" class="text-blue-500">+ Add Filter</button>
    </div>

    <% # f.select :filter_combine, [['AND', 'AND'], ['OR', 'OR']], {}, class: "mr-2" %>
    <% # f.select :scope, options_for_select(resource.scopes.map { |s| [s[:name].to_s.titleize, s[:name]] }, @filter_form.scope), { include_blank: 'All' }, class: "mr-2" %>

    <div class="mt-4">
      <%= f.submit 'Apply', class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
      <button type="button" data-action="click->filter-manager#clearAll" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded ml-2">Clear All</button>
    </div>
  <% end %>
</div>