<div>
  <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
    <div class="relative transform overflow-hidden rounded-lg bg-white dark:bg-gray-900 dark:border-2 px-4 pt-5 pb-4 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-md sm:p-6">
      <div class="flex flex-col">
        <div class="flex items-center space-x-2">
          <div class="flex self-auto items-center justify-center rounded-full bg-green-100 dark:bg-green-900">
            <div class="text-green-600 dark:text-green-400 flex items-center justify-center">
              <%= image_tag @purchased_item.qr %>
            </div>
          </div>

          <div class="flex flex-col">
            <h3 class="text-lg font-medium leading-6 text-gray-900 dark:text-gray-100">
              <%= @purchased_item.purchase.user.email %>
            </h3>
            <div class="flex">
              <div class="p-2 bg-green-600 text-white block rounded-md">
                <%= @purchased_item.state %>
              </div>
            </div>

            <div class="p-2 flex flex-col space-y-2 text-white block">
              <span class="text-bold">
                TICKET: <%= @ticket.title %>
              </span>
              <span class="text-sm text-gray-600">
                <%= number_to_currency(@ticket.price, presicion: @event.presicion_for_currency) %>
                <%= @event.ticket_currency %>
              </span>
            </div>
          </div>
        </div>

        <div class="mt-3 text-center sm:mt-5">
          <h3 class="text-lg font-medium leading-6 text-gray-900 dark:text-gray-100">
            <%= @event.title %>
          </h3>
          <div class="mt-2 flex flex-col">
            <p class="text-sm text-gray-500 dark:text-gray-300">
              <%= @event.event_dates %>
            </p>

            <p class="text-sm text-gray-500 dark:text-gray-300 font-bold">
              <%= @event.location %>
            </p>

            <% if false %> #@ticket.checked_in
              <p class="mt-4 text-sm text-brand-500 dark:text-brand-300 font-bold">
                Checked in at:  @ticket.checked_in_at
              </p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="mt-5 sm:mt-6">
        <%= link_to event_path(@event) do %>
          <%= gettext("Go to Event") %>
        <% end %>
      </div>
    </div>
  </div>

</div>