<div class="max-w-3xl mx-auto py-10 px-4 sm:px-6 lg:py-12 lg:px-8">
  <% if @user.is_creator? %>
    <h1 class="text-3xl font-extrabold text-blue-gray-900">
      <%= gettext("Invite artists to rauversion") %>
    </h1>

    <h2 class="text-xl font-extrabold text-brand-700">
      <%= t("invitations.left", count: @user.invitations_count) %>
    </h2>

    <div class="space-y-2">
      <div class="space-y-1">
        <%= form_for @user, url: "/#{@user.username}/invitations",
          method: :post, 
          class: "space-y-8 divide-y divide-gray-200 dark:divide-gray-800" do |form| %>

          <label
            for="add-team-members"
            class="mt-4 block text-sm font-medium text-gray-700 dark:text-gray-300"
          >
            <%= gettext("Invite people") %>
          </label>

          <div class="flex">
            <div class="flex-grow">
              <input
                type="email"
                name="email"
                class="block w-full rounded-md border-gray-300 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 shadow-sm focus:border-sky-500 focus:ring-sky-500 sm:text-sm"
                placeholder="Email address"
                aria-describedby="add-team-members-helper"
              />
            </div>
            <span class="ml-3">
              <button
                type="submit"
                phx_disable_with={gettext("Saving...")}
                phx-target={@myself}
                class="inline-flex items-center rounded-md border border-gray-300 dark:border-gray-700 bg-default px-4 py-2 text-sm font-medium text-gray-700 dark:text-gray-300 shadow-sm hover:bg-gray-50 dark:hover:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-sky-500 focus:ring-offset-2"
              >
                <svg
                  class="-ml-2 mr-1 h-5 w-5 text-gray-400"
                  x-description="Heroicon name: mini/plus"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z">
                  </path>
                </svg>
                <span><%= gettext("Invite artists") %></span>
              </button>
            </span>
          </div>
        <% end %>
      </div>

      <div class="border-b border-gray-200 dark:border-gray-800">
        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-800">
          <% User.where(invited_by_id: @user.id).each do |user| %>
            <li class="flex py-4">
              <div class="ml-3 flex flex-col">
                <span class="text-sm font-medium text-gray-900 dark:text-gray-100"></span>
                <span class="text-sm text-gray-500 dark:text-gray-300"><%= user.email %></span>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% else %>
    <%= render "shared/blocked_view", 
      title: gettext("Invitations disabled"),
      subtitle: gettext("Invitations are disabled on your account type"),
      description: gettext("Please send us an email showing us your work"),
      cta: gettext("Request an artist account") %>
  <% end %>
</div>