
<div class="space-y-4">
  <% unless @selected_artist %>
    <h2 class="mx-0 mt-0 mb-4 font-sans text-2xl font-bold leading-none">
      <%= t("existing_artist") %>
    </h2>
    <p class="text-md">Please search for an existing artist.</p>
    <%= form_with url: account_connections_path(kind: :existing), local: true do |form| %>
      <%= form.combobox :search, user_search_account_connections_path,
        name_when_new: :search, mobile_at: "0px" 
      %>
      <div class="py-2 flex justify-end">
        <%= form.submit "Select user" %>
      </div>
    <% end %>
  <% end %>

  <% if @selected_artist %>

    <%= form_for @selected_artist, url: account_connections_path(kind: "existing"), method: :post do |f| %>
      <div class="space-y-4">
        <p class="text-xl font-bold">
          <% # t("%{name} is selected", name: @selected_artist.username) %>
          <%= "#{@selected_artist.username} is selected" %>
        </p>
        <p class="text-md">
          <%= t("Please confirm in order to send the connect invitation request to the artist.") %>
        </p>
        <div class="flex items-center space-x-4">
          <%= f.hidden_field :id %>
          <%= f.submit 'Send connect request', class: "w-full rounded-md border border-transparent bg-indigo-600 py-3 px-4 text-base font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50" %>
        </div>
        <% if @errors %>
          <p class="text-red-600"><%= @errors %></p>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <%= link_to "back", new_account_connection_path, data: {turbo_frame: "modal"} %>

</div>
