
<div>

  <div>
    <%= form_with model: @user, 
      url: account_connections_path(kind: "new"), local: true, data: {turbo_frame: "_top"} do |f| %>
      
      <h2 class="mx-0 mt-0 mb-4 font-sans text-2xl font-bold leading-none">
        <%= t("New user") %>
      </h2>

      <p>Please specify an account to add.</p>
        
      <% # f.text_field :username, label: "username", hint: "Artist URL http://#{ ENV["DOMAIN"] }/jjj" %>

      <div class="sm:col-span-3 flex space-x-2">
        <%= f.text_field :first_name %>
        <%= f.text_field :last_name %>
      </div>
      
      <div class="flex items-center pt-4">
        <span>http://</span>
          <%= f.text_field :username, label: false %>
        <span>.rauversion.com</span>
      </div>

      <div class="sm:col-span-3">
        <%= f.text_field :email, hint: gettext("Email") %>
      </div>

      <!--<div class="sm:col-span-3">
        <% #= f.file_field :avatar %>
      </div>-->

      <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
        <div class="sm:col-span-6 flex justify-end space-x-2 items-center">
          <%= link_to "back", new_account_connection_path, data: {turbo_frame: "modal"} %>
          <%= f.submit "Save", data: { disable_with: "Saving..." }  %>
        </div>
      </div>
    <% end %>
  </div>
</div>