    <div>
     
      <%= link_to new_event_event_ticket_path(event_host.event), 
        class: "mt-2 inline-flex justify-center items-center text-white-600 block text-xs", 
        data: { turbo_frame: 'modal' } do %>
        <%= gettext("Get your ticketkkks") %>
      <% end %>

      <%= if @open do %>
          <div class="px-4 sm:px-6 lg:px-8">
            <div class="mt-8 flex flex-col">
              <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                  <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
                    <%= if @status %>
                      <%= @status %>
                    <% end %>

                    <%= if @purchase %>
   
                      <%= form_for [@event, @ticket] do |form|%>
                        <div>
                          <%= error_tag(f, :not_valid) %>
                          <table class="min-w-full divide-y divide-gray-300 dark:divide-gray-700">
                            <thead class="bg-gray-50-- dark:bg-gray-900--">
                              <tr class="hidden sm:table-row">
                                <th
                                  scope="col"
                                  class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 dark:text-gray-100 sm:pl-6"
                                >
                                  <%= gettext("Name") %>
                                </th>
                                <th
                                  scope="col"
                                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-gray-100"
                                >
                                  <%= gettext("Price") %>
                                </th>
                                <th
                                  scope="col"
                                  class="px-3 py-3.5 text-center text-sm font-semibold text-gray-900 dark:text-gray-100"
                                >
                                  <%= gettext("QTY") %>
                                </th>
                              </tr>
                            </thead>

                            <tbody class="divide-y divide-gray-200 dark:divide-gray-900-- bg-white-- dark:bg-gray-800--">
                              <%= inputs_for f, :data, fn i -> %>
                                <% ticket =
                                  Rauversion.EventTickets.get_event_ticket!(i.params["ticket_id"])

                                # ticket = Rauversion.EventTickets.get_event_ticket!(i.ticket_id) %>

                                <% # = for ticket <- @tickets do %>
                                <tr>
                                  <td class="hidden sm:table-cell whitespace-nowrap-- py-4 pl-4 pr-3 text-sm sm:pl-6">
                                    <div class="flex items-center">
                                      <div class="">
                                        <div class="font-medium text-gray-900 dark:text-gray-100">
                                          <%= ticket.title %>
                                        </div>
                                        <div class="text-gray-500 dark:text-gray-400">
                                          <%= ticket.short_description %>
                                        </div>
                                      </div>
                                    </div>
                                  </td>
                                  <td class="hidden sm:table-cell whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:text-gray-400">
                                    <div class="text-gray-900 dark:text-gray-100 text-2xl">
                                      <%= Number.Currency.number_to_currency(ticket.price,
                                        precision: Rauversion.Events.presicion_for_currency(@event)
                                      ) %>
                                      <%= @event.event_settings.ticket_currency %>
                                    </div>
                                  </td>
                                  <td class="whitespace-nowrap-- px-3 py-4 text-sm text-gray-500 dark:text-gray-400">
                                    <div class="flex flex-col space-y-2 sm:space-y-0">
                                      <div class="flex items-center sm:hidden">
                                        <div class="">
                                          <div class="font-medium text-gray-900 dark:text-gray-100">
                                            <%= ticket.title %>
                                          </div>
                                          <div class="text-gray-500 dark:text-gray-400 break-all">
                                            <span class="overflow-wrap">
                                              <%= ticket.short_description %>
                                            </span>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="flex sm:justify-center items-center space-x-3">
                                        <% #if Decimal.to_integer(ticket.price) != 0 %>
                                          <% #= label(i, :x) %>
                                          <% #= text_input(i, :count,
                                            #class: "dark:bg-gray-800 border rounded-sm dark:text-white",
                                            #type: :number
                                          #) 
                                          %>
                                          <% #= error_tag(i, :count) %>
                                          <% #= hidden_input(i, :ticket_id, value: ticket.id) %>
                                        <% else %>
                                          <% #if reedemed_free_ticket?(@current_user, ticket) %>
                                          <% if false %>
                                            <div class="flex items-center space-x-2">
                                              <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                fill="none"
                                                viewBox="0 0 24 24"
                                                stroke-width="1.5"
                                                stroke="currentColor"
                                                class="w-6 h-6 text-green-600"
                                              >
                                                <path
                                                  stroke-linecap="round"
                                                  stroke-linejoin="round"
                                                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                                                />
                                              </svg>
                                              <div class="text-sm font-medium text-gray-900 dark:text-gray-100">
                                                <%= gettext("Free ticket already added") %>
                                              </div>
                                            </div>
                                          <% else %>
                                            <button
                                              type="button"
                                              phx-click="get-free-ticket"
                                              phx-value-id={ticket.id}
                                              phx-target={@myself}
                                              class="inline-flex justify-center rounded-2xl bg-brand-600 px-4 p-2 text-base font-semibold text-white hover:bg-brand-500 focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-brand-500 active:text-white/70"
                                            >
                                              <%= gettext("Get your FREE ticket") %>
                                            </button>
                                          <% end %>
                                        <% end %>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              <% end %>

                              <tr>
                                <td class="hidden sm:table-cell whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">
                                </td>

                                <td class="hidden sm:table-cell whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:text-gray-400">
                                </td>

                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:text-gray-400">
                                  <div class="flex justify-end">
                                    <h2 class="text-2xl">
                                      <%= Number.Currency.number_to_currency(@result) %>
                                    </h2>
                                  </div>
                                </td>
                              </tr>

                              <tr>
                                <td class="hidden sm:table-cell whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">
                                </td>

                                <td class="hidden sm:table-cell whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:text-gray-400">
                                </td>

                                <td
                                  colspan="3"
                                  class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:text-gray-400"
                                >
                                  <div class="flex justify-end">
                                    <div class="hidden">
                                      <%= if @changeset.valid? do %>
                                        is valid!
                                      <% else %>
                                        no valid!
                                      <% end %>
                                    </div>
                                    <%= submit(gettext("Place order"),
                                      disabled: !@changeset.valid?,
                                      class:
                                        "inline-flex items-center rounded-md border border-brand-300 dark:border-brand-700 bg-brand-600 dark:bg-brand-600 px-4 py-4 text-sm font-medium leading-4 text-brand-100 dark:text-brand-100 shadow-sm hover:bg-brand-50 dark:hover:bg-brand-900 focus:outline-none focus:ring-2 focus:ring-brand-500 focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-30"
                                    ) %>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      <% end %>
                    <% else %>
                      <div class="bg-white dark:bg-black shadow sm:rounded-lg">
                        <div class="px-4 py-5 sm:p-6">
                          <div class="flex space-x-3">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke-width="1.5"
                              stroke="currentColor"
                              class="w-6 h-6 text-green-600"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                              />
                            </svg>
                            <h3 class="text-lg font-medium leading-6 text-gray-900 dark:text-gray-100">
                              <%= gettext("Ticket purchase complete") %>
                            </h3>
                          </div>
                          <div class="mt-2 sm:flex sm:items-start sm:justify-between">
                            <div class="max-w-xl text-sm text-gray-500 dark:text-gray-200">
                              <p>
                                <%= gettext(
                                  "The ticket purchase was successfully completed, it willappear in your purchases section"
                                ) %>
                              </p>
                            </div>
                            <div class="mt-5 sm:mt-0 sm:ml-6 sm:flex sm:flex-shrink-0 sm:items-center">
                              <%= link_to "/purchases/tickets" class: "inline-flex items-center rounded-md border border-transparent bg-brand-600 px-4 py-2 font-medium text-white shadow-sm hover:bg-brand-700 focus:outline-none focus:ring-2 focus:ring-brand-500 focus:ring-offset-2 sm:text-sm" do %>
                                <%= gettext("go to ticket") %>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    </div>