<h2>Confirmación de ticket para evento <%= @event.title %></h2>

<p>Para ingresar al evento deberás mostrar tu e-ticket impreso o desde tu móvil</p>

<ol>
  <li>Ingresa a Mi cuenta.</li>
  <li>Ve a la pestaña Mis Compras.</li>
  <li>Toca en Ver ticket/s electrónicos/s, para que los puedas ver y descargar.</li>
</ol>

<% if @inviter %>
  <b><%= @inviter.first_name %> <%= @inviter.last_name %></b>
  <%= gettext("Has invited you to the event") %>
<% end %>

<hr />

<% if @message %>
  <b>Message:</b>
  <%= @message %>
<% end %>
<hr />

<% @purchase.purchased_items.each do |item| %>
  <h3 class="text-lg font-medium leading-6 text-gray-900 dark:text-gray-100">
    Evento: <%= @event.title %>
  </h3>

  <h4 class="text-lg font-medium leading-6 text-gray-900 dark:text-gray-100">
    Ticket: <%= item.purchased_item.title %>
  </h4>

  <b><%= item.purchased_item.after_purchase_message %></b>

  <p class="text-sm text-gray-500 dark:text-gray-300">
    <%= item.purchased_item.event.event_start %>
    <%= item.purchased_item.event.timezone %>
    , <%= item.purchased_item.event.location %>
  </p>

  <% #= image_tag("cid:purchase_item_#{item.purchased_item.id}_qr_code.png") %>

  <%= image_tag(item.qr) %> 

  <%= link_to "ver ticket en la web", url %>

  <% # = live_redirect to: Routes.events_show_path(@socket, :show, item.purchased_item.event.slug),
  # class: "inline-flex w-full justify-center rounded-md border border-transparent bg-brand-600 dark:bg-brand-400 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-brand-700 dark:hover:bg-brand-300 focus:outline-none focus:ring-2 focus:ring-brand-500 dark:focus:ring-brand-600 focus:ring-offset-2 sm:text-sm" do %>
  <% # = gettext("Go to Event") %>
  <% # end %>

  <hr />
<% end %>
