    <div id="basic-info" class="tab-pane <%= active_tab_for?(@tab, "basic-info-tab") %>">
      <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
        
      
        <div class="sm:col-span-6">
          <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
           
            <div class="sm:col-span-4">
              <%= form.text_field :title %>
            </div>

            <% if impersonating?(@playlist.user) %>
              <div class="sm:col-span-6">
                <%= form.check_box :enable_label, hint: "Associate this playlist to the label" %>
              </div>
            <% end %>

            <div class="sm:col-span-6">
              <%= form.text_area :description %>
            </div>

            <div class="sm:col-span-6">
              <%= form.label :cover %>
              <div class="mt-1 sm:mt-0 sm:col-span-6">
                <%= render "shared/upload_field", 
                  form: form, 
                  attribute: :cover,
                  image_url: form.object.cover_url(:small)
                %>
              </div>
            </div>

            <div class="sm:col-span-4">
              <%= form.label :playlist_type %>
              <%= form.select :playlist_type, Playlist::Types.plain, label: "Playlist type" %>
            </div>

            <div class="sm:col-span-2">
              <%= form.label :release_date %>
              <%= form.datetime_field :release_date %>
            </div>

          </div>

          <div class="space-y-2">

            <%= form.label :privacy%>
            <div class="flex-col space-y-3">
              <div class="flex space-x-2 items-center">
                <%= form.radio_button :private, false, label: "Public" %> 
              </div>
              <div class="flex space-x-2 items-center">
                <%= form.radio_button :private, true, label: "Private" %>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
