<div class="flex">
  <%= form_for @playlist do |form| %>

    <h2 class="mx-0 mt-4 mb-4 font-sans text-base font-bold leading-none">
      <%= gettext("Create playlist") %>
    </h2>

    <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
      <div class="sm:col-span-6">
        <div class="mt-1">
          <%= form.text_field :title, label: gettext("Playlist title") %>
        </div>
      </div>
    
      <div class="flex items-center">
        <%= form.label "Privacy" %>
      </div>

      <div class="flex items-start space-x-2 sm:col-span-6">

        <div class="flex space-x-2 items-center">
          <%= form.radio_button :private, false, label: "Acceso público", hint: "Todo el mundo con el enlace verá este artículo." %> 
        </div>
        <div class="flex space-x-2 items-center">
          <%= form.radio_button :private, true, label: "Miembros privados al artículo", hint: "Sólo los miembros de este artículo podrían acceder." %>
        </div>
      </div>

      <div class="sm:col-span-6 flex justify-end">
        <%= form.submit gettext("Save"),
          class:
            "inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-brand-600 hover:bg-brand-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand-500"
          %>
      </div>

      <div class="sm:col-span-6">
        <div class="flow-root mt-6">
          <div data-controller="nested-form" class="py-6">
            <%= hidden_field_tag :t, params[:t] %>
            <ul role="list" class="-my-5 divide-y divide-gray-200 dark:divide-gray-800">
              <%= form.fields_for :track_playlists do |link| %>
                <%= render "track_fields", form: link %>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="mt-6 hidden">
          <a
            href="#"
            class="w-full flex justify-center items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50"
          >
            View all
          </a>
        </div>
      </div>
    </div>
  <% end %>
</div>