    <div
      class="my-2 p-2 border-- rounded-md shadow-xs mx-3 "
    >


      <div class="flex space-x-3">
        <div class="w-48">
          <%= image_tag(playlist.cover_url(:medium),
            class: "object-center object-cover group-hover:opacity-75"
          ) %>
        </div>

        <div class="flex-grow">
          <div class="flex flex-col">
            <div class="space-y-2 flex flex-col">

              <div class="flex justify-between">
                <h3 class="flex items-center space-x-2 mt-3- text-xl font-extrabold tracking-tight text-slate-900 ">
                  <%= link_to playlist.title, playlist_path(playlist), "data-turbo-frame": "_top" %>

                  <% if playlist.album? && playlist.release_date.present? %>
                    <span class="text-xs dark:text-gray-400 font-thin">
                      <%= gettext("Album") %> <%= l(playlist.release_date, format: :short) %>
                    </span>
                  <% end %>
                </h3>

                <% if playlist.private %>
                  <div class="mr-2">
                    <div class="bg-brand-500 text-white text-xs p-1 rounded-md inline-flex space-x-1 items-center">
                      <svg
                        viewBox="0 0 15 15"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        width="15"
                        height="15"
                      >
                        <path
                          d="M5.5 7h4V6h-4v1zm4.5.5v3h1v-3h-1zM9.5 11h-4v1h4v-1zM5 10.5v-3H4v3h1zm.5.5a.5.5 0 01-.5-.5H4A1.5 1.5 0 005.5 12v-1zm4.5-.5a.5.5 0 01-.5.5v1a1.5 1.5 0 001.5-1.5h-1zM9.5 7a.5.5 0 01.5.5h1A1.5 1.5 0 009.5 6v1zm-4-1A1.5 1.5 0 004 7.5h1a.5.5 0 01.5-.5V6zm.5.5v-1H5v1h1zm3-1v1h1v-1H9zM7.5 4A1.5 1.5 0 019 5.5h1A2.5 2.5 0 007.5 3v1zM6 5.5A1.5 1.5 0 017.5 4V3A2.5 2.5 0 005 5.5h1z"
                          fill="currentColor"
                        >
                        </path>
                      </svg>
                      <span><%= t("tracks.private") %></span>
                    </div>
                  </div>
                <% end %>
              </div>




              <ul
                role="list"
                phx-hook="PlaylistComponent"
                class="-my-5 divide-y divide-gray-200 dark:divide-gray-800"
              >
                <% playlist.track_playlists.order("position").each do |tp|%>
                  <li class="py-4 px-2 dark:hover:bg-gray-800">
                    <%= link_to player_path(id: tp.track.id, t: true),
                      class: "flex items-center space-x-4" do %>
                      <div class="flex-shrink-0">
                        <%= image_tag(
                            tp.track.cover_url(:small),
                          class: "h-8 w-8 rounded-full"
                        ) %>
                      </div>
                      <div class="flex-1 min-w-0">
                        <p class="text-sm font-medium text-default  truncate">
                          <%= tp.track.title %>
                        </p>
                        <p class="text-sm text-muted truncate">
                          <%= tp.track.user.username %>
                        </p>
                      </div>
                      <!--
                        <div>
                          <a href="#" phx-click="remove-track"
                            target-nono={@myself}
                            class="inline-flex items-center shadow-sm px-2.5 py-0.5 border border-gray-300 text-sm leading-5 font-medium rounded-full text-gray-700 bg-white hover:bg-muted">
                            remove
                          </a>
                        </div>
                        -->
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>

            <div class="p-2 sm:p-0 sm:pt-2 flex items-center space-x-1">
              <!--<.live_component
                id={"share-playlist-button-#{@playlist.id}"}
                module={RauversionWeb.PlaylistLive.SharePlaylistButtonComponent}
                playlist={@playlist}
              />-->

              <%= link_to "#", phx_click: "like-playlist",
                  class: "button" do %>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-4 w-4"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
                  />
                </svg>
                <span><%= playlist.likes_count %> Like</span>
              <% end %>

              <% if current_user && current_user.id == playlist.user_id %>
                <%= link_to edit_playlist_path(playlist),
                  class: "button", "data-turbo-frame": "modal" do %>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-4 w-4"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
                  </svg>
                  <span><%= gettext("Edit") %></span>
                <% end %>
                <%= link_to playlist_path(playlist),
                    "data-method": "delete",
                    "data-confirm": "Are you sure?",
                    class: "button" do %>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-4 w-4"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  <span><%= gettext("Delete") %></span>
                <% end %>
              <% end %>
            </div>

            <% if playlist.price %>
              <%= render "shared/music_purchase", 
                resource: playlist,
                variant: :mini %>
            <% end %>
          </div>
        </div>
      </div>
    </div>