<div>
  <h2 class="text-xl font-semibold mb-4" data-id="25">Tracks</h2>
  <div class="<%= local_assigns[:class] || "space-y-2" %>">
    <% playlist.ordered_tracks.each do |track| %>
      <a
        href="<%= player_path(id: track, t: true) %>"
        data-track-id="<%= track.id %>"
        data-track-detector-target="track"
        class="flex items-center space-x-4 p-2 hover:bg-muted rounded-md transition-colors">
        <!--<svg xmlns="http://www.w3.org/2000/svg" class="lucide lucide-music2 w-4 h-4 text-muted" viewBox="0 0 24 24" fill="none" stroke="currentColor">
          <circle cx="8" cy="18" r="4"></circle>
          <path d="M12 18V2l7 4"></path>
        </svg>-->
        <%= image_tag track.cover_url(:medium), class: "h-12 w-12 object-cover rounded-lg" %>

        <div class="flex-grow">
          <p class="font-medium"><%= track.title %></p>
          <p class="text-sm text-muted"><%= track.user.username %></p>
        </div>
        <p class="text-sm text-muted">
          <%= track.duration %>
        </p>
      </a>
    <% end %>
  </div>
</div>