<div class="nested-fields border-b pt-5"
	data-new-record="<%= form.object.new_record? %>">

  <%= form.hidden_field :_destroy %>
  <% #= form.object.to_json %>
  <li class="py-4">
    <div class="flex items-center space-x-4">

      <div class="flex-shrink-0">
        <%= image_tag form.object.track.cover_url(:small), class: "h-8 w-8 rounded-full" %>
      </div>

      <%= form.hidden_field :track_id %>

      <div class="flex-1 min-w-0">
        <p class="text-sm font-medium text-gray-900 dark:text-gray-100 truncate">
          <%= form.object.track.title %>
        </p>
        <p class="text-sm text-gray-500 truncate">
          <%= form.object.track.user.username %>
        </p>
      </div>

      <div>
        <button type="button"
          data-action="click->nested-form#remove_association" 
          class="inline-flex items-center shadow-sm px-2.5 py-0.5 border border-gray-300 text-sm leading-5 font-medium rounded-full text-gray-700 bg-white hover:bg-gray-50"
          >
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
          </svg>
        </button>

      </div>
    </div>
  </li>
</div>