<div class="container mx-auto px-4 py-8" data-id="1">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-8" data-id="2">
    <div class="rounded-lg border border-subtle bg-card text-card-foreground shadow-sm overflow-hidden relative" data-id="3" data-v0-t="card">
      <div class="p-0" data-id="4">
        <div class="relative aspect-square" data-id="5">
          <%= image_tag(@playlist.cover_url(:large), 
            alt: "Album Front Cover", 
            class: "object-cover w-full h-full") 
          %>
        </div>
        <div class="absolute inset-0 flex items-center justify-between p-4" data-id="7">
          <svg xmlns="http://www.w3.org/2000/svg" class="lucide lucide-chevron-left h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path d="m15 18-6-6 6-6"></path>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" class="lucide lucide-chevron-right h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path d="m9 18 6-6-6-6"></path>
          </svg>
        </div>
      </div>
    </div>
    <div class="space-y-6" data-id="12">
      <div class="flex flex-col lg:flex-row lg:items-center lg:justify-between" data-id="13">
        <div data-id="14">
          <h1 class="text-3xl font-bold mb-2" data-id="15"><%= @playlist.title %></h1>
          <% if @playlist.album? && @playlist.release_date.present? %>
            <p class="text-xl text-muted" data-id="16"><%= l(@playlist.release_date, format: :short) %></p>
          <% end %>
        </div>
        <div class="flex space-x-4 mt-4 lg:mt-0" data-id="17">
          <%= link_to "#",
            "data-track-init-path": player_path(id: @playlist&.ordered_tracks&.first, t: true), 
            "data-action": "track-detector#addGroup", class: "justify-center rounded-md bg-primary text-primary-foreground h-10 px-4 py-2 flex items-center space-x-2" do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="lucide lucide-play w-4 h-4" viewBox="0 0 24 24" fill="none" stroke="currentColor">
              <polygon points="6 3 20 12 6 21 6 3"></polygon>
            </svg>
            <span>Play</span>
          <% end %>

          <%= render "sharer/share_button", resource: @playlist, 
            button_class: "justify-center rounded-md border bg-background h-10 px-4 py-2 flex items-center space-x-2" %>
          <%= render "likes/like_button", resource: @playlist, 
            button_class: "#{liked?(@playlist) ? "button-active" : "button"} justify-center rounded-md border bg-background h-10 px-4 py-2 flex items-center space-x-2" %>

        </div>
      </div>

      <div class="mt-6 flex items-center justify-stretch sm:flex-row space-y-0 sm:space-x-4">


        <% if user_signed_in? && @playlist.user_id == current_user.id %>
          <%= link_to edit_playlist_path(@playlist), class: "button",
            "data-turbo-frame": "modal" do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
              <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"></path>
            </svg>
            <span><%= t("playlists.edit") %></span>
          <% end %>

          <div data-turbo="true">
            <%= turbo_frame_tag "playlist-#{@playlist.id}-delete" do %>
              <%= button_to playlist_path(@playlist),
                method: :delete,
                data: {confirm: t("delete.confirm"), turbo_method: :delete, turbo_confirm: t("delete.confirm")},
                class: "button" do %>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"></path>
                </svg>
                <span><%= t("playlists.delete") %></span>
              <% end %>
            <% end %>
          </div>

        <% end %>
      </div>

      <div data-id="24">
        <h2 class="text-xl font-semibold mb-4" data-id="25">Tracks</h2>
        <div class="space-y-2" data-id="26">
          <% @playlist.ordered_tracks.each do |track| %>
            <a
              href="<%= player_path(id: track, t: true) %>"
              data-track-id="<%= track.id %>"
              data-track-detector-target="track"
              class="flex items-center space-x-4 p-2 hover:bg-muted rounded-md transition-colors">
              <svg xmlns="http://www.w3.org/2000/svg" class="lucide lucide-music2 w-4 h-4 text-muted" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                <circle cx="8" cy="18" r="4"></circle>
                <path d="M12 18V2l7 4"></path>
              </svg>
              <div class="flex-grow" data-id="29">
                <p class="font-medium" data-id="30"><%= track.title %></p>
                <p class="text-sm text-muted" data-id="31"><%= track.user.username %></p>
              </div>
              <p class="text-sm text-muted" data-id="32">
                <%= track.duration %>
              </p>
            </a>
          <% end %>
        </div>
      </div>

      <% if @playlist.buy_link.present? %>
        <div class="flex justify-end items-center space-x-2">
          <%= link_to @playlist.buy_link_title || "Buy Album", @playlist.buy_link, target: "_blank", class: "underline border rounded-sm px-3 py-3" %>
        </div>
      <% end %>

    </div>
  </div>

  <div class="mt-12 space-y-8" data-id="40">
    <h2 class="text-2xl font-bold" data-id="41">About <%= @playlist.title %></h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center" data-id="42">
      <div data-id="43">
        <p class="text-muted mb-4" data-id="44">
          <%= auto_link sanitize(@playlist.description, auto_link: true) %>
        </p>
      </div>

      <% if @playlist.price %>
        <%= render "shared/music_purchase", resource: @playlist %>
      <% end %>

      <% #= image_tag @playlist.user.avatar_url(:medium), alt: @playlist.user.username, class: "rounded-lg shadow-lg" %>
    </div>
  </div>

  <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8 py-6">
    
  </div>

  <div class="mx-auto w-3/4-">
    <%= render "products" %>
  </div>

  <div class="mt-6 max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="sm:col-span-2">
      <!-- comments here -->
      <section aria-labelledby="activity-title" class="mt-8 xl:mt-10">
        <div>
          <div class="divide-y divide-gray-200 dark:divide-gray-800">

            <div class="pb-4">
              <h2 id="activity-title" class="text-lg font-medium text-default ">
                <%= t("profile.comments") %>
              </h2>
            </div>

            <div class="pt-6">
              <!-- Activity feed-->
              <%= render "comments/comment_list", comments: @playlist.comments.limit(10)  %>
              <% if user_signed_in? %>
                <%= render "comments/form", resource: @playlist, comment: current_user.comments.new(commentable: @playlist)  %>
              <% end %>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
