<div class="p-4 bg-muted rounded-lg">
  <div class="relative">
    <div class="relative h-72 w-full overflow-hidden rounded-lg">
      <% if product.product_images.any? %>
        <%= image_tag product.product_images.first.image, class: "h-full w-full object-cover object-center" %>
      <% else %>
        [no image]
      <% end %>
    </div>
    <div class="relative mt-4">
      <h3 class="text-sm font-medium text-default">
        <%= link_to product.title, user_product_path(@profile.username, product) %>
      </h3>
      <p class="mt-1 text-sm text-muted">
        <%= truncate( strip_tags( product.description), length: 200) %>
      </p>
      <p class="bg-emphasis text-sm inline-flex hover:cursor-pointer items-center 
        rounded-full hover:bg-muted px-3 py-1 font-medium">
        <%= product.category.humanize %>
      </p>
    </div>
    <div class="absolute inset-x-0 top-0 flex h-72 items-end justify-end overflow-hidden rounded-lg p-4">
      <div aria-hidden="true" class="absolute inset-x-0 bottom-0 h-36 bg-gradient-to-t from-black opacity-50"></div>
      <p class="relative text-lg font-semibold text-white">
        <%= number_to_currency(product.price) %>
      </p>
    </div>
  </div>
  <div class="mt-6">
    <%= button_to "Add to cart", product_cart_add_path(product_id: product.id), method: :post, class: "button-sm-outline w-full text-center justify-center" %>
  </div>
</div>