<%= search_form_for @q, url: url_for(action: 'index'), class: "mb-6" do |f| %>
  <div class="flex flex-wrap -mx-3 mb-4">
    <% resource.filters.each do |filter| %>
      <div class="w-full md:w-1/3 px-3 mb-4 md:mb-0">
        <%= f.label filter[:name], filter[:options][:label], class: "block text-gray-700 text-sm font-bold mb-2" %>
        <% case filter[:type] %>
        <% when :string %>
          <%= f.search_field filter[:name], class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        <% when :select %>
          <% collection = filter[:options][:collection].is_a?(Proc) ? filter[:options][:collection].call : filter[:options][:collection] %>
          <%= f.select filter[:name], collection, { include_blank: 'All' }, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        <% end %>
      </div>
    <% end %>
    <div class="w-full md:w-1/3 px-3">
      <%= f.submit "Search", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  </div>
<% end %>