<div class="w-full">
  
  <%= render "header" %>

  <main class="border-t border-subtle lg:relative lg:mb-28 lg:ml-112 lg:border-t-0 xl:ml-120">
    
    <%= render "graph_icon" %>

    <div class="relative">
      <div class="pb-12 pt-16 sm:pb-4 lg:pt-12">
        <div class="lg:px-8">
          <div class="lg:max-w-4xl">
            <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
              <h1 class="text-2xl font-bold leading-7 text-default">
                 <%= @user.podcaster_info.title %>
              </h1>
            </div>
          </div>
        </div>
        <div class="divide-y divide-muted sm:mt-4 lg:mt-8 lg:border-t lg:border-subtle">
          <div class="prose prose-xl prose-invert p-4">
            <%= @user.podcaster_info.description %>
            <%= @user.podcaster_info.about %>
          </div>
        </div>
      </div>
    </div>
  </main>

  <% # render "footer" %>

  <% # render "player" %>

</div>
