<div class="w-full">
  
  <%= render "header" %>

  <main class="border-t border-subtle lg:relative lg:mb-28 lg:ml-112 lg:border-t-0 xl:ml-120">
    
    <%= render "graph_icon" %>

    <div class="relative">
      <div class="pb-12 pt-16 sm:pb-4 lg:pt-12">
        <div class="lg:px-8">
          <div class="lg:max-w-4xl">
            <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
              <h1 class="text-2xl font-bold leading-7 text-default">
                <%= t("podcasts.episodes")%>
              </h1>
            </div>
          </div>
        </div>
        <div class="divide-y divide-muted sm:mt-4 lg:mt-8 lg:border-t lg:border-subtle"
          data-controller="infinite-pagination" data-infinite-pagination-target="entries">
          

          <%= turbo_frame_tag "paginated-list", class: 'flex flex-col-reverse' do %>
            <% @collection.each do |track| %>
              <%= render "podcast", track: track %>
            <% end %>
          <% end %>

          <div class="invisible h-1" data-infinite-pagination-target="pagination">
            <%= render partial: 'users/item_pagination' %>
          </div>

        </div>
      </div>
    </div>
  </main>

  <% # render "footer" %>

  <% # render "player" %>

</div>
