<li id="<%= "event-hosts-item-#{event_host.id}" %>" 
  class="col-span-1 divide-y divide-gray-200 dark:divide-gray-800 rounded-lg bg-white dark:bg-gray-900 shadow">
  <div class="flex w-full items-center justify-between space-x-6 p-6">
    <div class="flex-1 truncate">
      <div class="flex flex-col items-start space-x-3 justify-center">
        <div class="flex flex-col justify-between space-y-2">
          <h3 class="truncate text-sm font-medium text-gray-900 dark:text-gray-100">
            <%= event_host.name %>
          </h3>
            <% if event_host.user.is_creator? %>
            <ul>
              <li>
                <%= link_to event_host.user.username , user_path(event_host.user.username) %>
              </li>
              <li><%= event_host.user.username %></li>
            </ul>
            <% end %>
          
          <div class="flex space-x-2">
            <div class="flex space-x-2">
              <% if event_host.listed_on_page %>
                <span class="inline-flex items-center rounded-full bg-blue-100 px-2.5 py-0.5 text-xs font-medium text-blue-800">
                  <%= gettext("Listed on page") %>
                </span>
              <% end %>

              <% if event_host.event_manager %>
                <span class="inline-flex items-center rounded-full bg-green-100 px-2.5 py-0.5 text-xs font-medium text-green-800">
                  <%= gettext("Event Manager") %>
                </span>
              <% end %>
            </div>
          </div>
        </div>

        <div class="sm:col-span-6">
          <%= link_to edit_event_event_host_path(event_host.event, event_host), 
            class: "mt-2 inline-flex justify-center items-center text-white-600 block text-xs", 
            data: { turbo_frame: 'modal' } do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"></path>
            </svg>
          <% end %>

          <%= link_to event_event_host_path(event_host.event, event_host), 
            class: "mt-2 inline-flex justify-center items-center text-white-600 block text-xs",
            data: {confirm: "??", turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"></path>
            </svg>
          <% end %>
        </div>
      </div>

      <p class="mt-1 truncate text-sm text-gray-500 dark:text-gray-400">
        <%= event_host.description %>
      </p>
    </div>

    <%= image_tag event_host.user.avatar_url(:small), class: "h-10 w-10 flex-shrink-0 rounded-full bg-gray-300 dark:bg-gray-700" %>
  
  </div>
</li>