<!DOCTYPE html>
<html class="">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= display_meta_tags site: "Rauversion" %>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Oswald:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <meta name="turbo-refresh-method" content="morph">
    <meta name="turbo-refresh-scroll" content="preserve">
    <meta name="turbo-prefetch" content="false">

    <% if @oembed_json %>
      <link rel="alternate" type="application/json+oembed" href="<%= @oembed_json %>" />
    <% end %>

  </head>

  <body class="bg-default font-sans antialiased text-default dark"
     data-controller="track-detector dark-mode">
    
    <% if !@disable_user_menu %>
      <%= render "shared/user_menu" %>
    <% end %>

    <%= yield %>

    <div id="cart-counter" data-turbo-permanent>
      <%= turbo_frame_tag "player-frame", src: player_path(id: Track.published&.last&.id) %>
      <% #= render "player/player", track: Track.first %>
    </div>

    <div class="flash">
      <%= render "shared/flash" %>
    </div>

    <%= turbo_frame_tag "modal" %>
    <%= render "shared/turbo_delete_modal" %>


    <% 
    # live_render(@conn, RauversionWeb.TrackLive.Player,
    #  id: "global-main-player",
    #  session: %{},
    #  sticky: true
    #
     %>
    <!-- 
     The `defer` attribute causes the callback to execute after the full HTML
     document has been parsed. For non-blocking uses, avoiding race conditions,
     and consistent behavior across browsers, consider loading using Promises
     with https://www.npmjs.com/package/@googlemaps/js-api-loader.
    -->
    
    <% if ENV['GOOGLE_MAPS_KEY'] %>
      <script
        data-turbo="false"
        src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_KEY'] %>&callback=dispatchMapsEvent&libraries=places&v=weekly"
        defer
      >
      </script>
    <% end %>

    <% unless @disable_footer %>
    <%= render("shared/footer", assigns) %>
    <% end %>

    <% if ENV["GA_ID"] %>
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV["GA_ID"] %>">
      </script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '<%= ENV["GA_ID"] %>');
      </script>
    <% end %>

  </body>
</html>
